{% macro radio(question, name, values, texts, selected) -%}
	<p><h5> {{ question }} </h5>
		{% for i in range(values|length) %}
    	<input type="radio" name="{{ name }}" value="{{ values[i] }}"
    	{% if i == selected %} checked {% endif %}>
    	{{ texts[i] }}<Br>
    	{% endfor %}
    	<br>
    </p>
{%- endmacro %}

{% macro slider(question, name, min, max, value) -%}
	<p><h5> {{ question }} </h5> 
		{{ min }} <input type="{{ type }}" name="{{ name }}" value="{{ value }}" size="20"> {{ max }} <br>
	</p>
{%- endmacro %}


{% for filter in filters %}
	{% if filter.ftype == 'radio' %}
		{{ radio(filter.question, filter.name, filter.values, filter.texts, filter.selected) }}
	{% elif filter.ftype == 'slider' %}
		{{ slider(filter.question, filter.name, filter.slider_min, filter.slider_max, filter.value) }}
	{% endif %}
{% endfor %}