<div id = "menu">
    <div id = "topSeparator">
        <img src="{{ url_for('static', filename='img/separator.jpg') }}" />			
    </div>
    <div id = "buttons">
    <ul id = "navigation">
    {% for name in ('wNextButton', 'qa'), ('wFindButton', '1.html'), ('wHelpButton', '1.html') %}
        <li>
            <a id = "button" href = {{ name[1] }}> <img src="{{ url_for('static', filename='img/greenButtons/' + name[0] + '1.jpg') }}" alt="Найти"
                onMouseOver="this.src='{{ url_for('static', filename='img/greenButtons/' + name[0] + '2.jpg') }}'" 
                onMouseOut="this.src='{{ url_for('static', filename='img/greenButtons/' + name[0] + '1.jpg') }}'"
                onMouseDown="this.src='{{ url_for('static', filename='img/greenButtons/' + name[0] + '3.jpg') }}'"
                /> </a>
        </li>
    {% endfor %}
    </ul>		
    </div>
    <div id = "bottomSeparator">
        <img src="{{ url_for('static', filename='img/separator.jpg') }}" /> 		
    </div>
</div>