body {
    margin: 0px;
    background-color: #FDFEFE;
    background-image: url('bg.jpg');
    background-position: left top;
    background-repeat: repeat;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -20px;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:100px;
    top:520px;
    width:800px;
    height:300px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:300px;
}

.u1 {
    position:absolute;
    left:2px;
    top:142px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:100px;
    top:520px;
    width:800px;
    height:300px
}

.u2_container {
    position:absolute;
    left:100px;
    top:10px;
    width:800px;
    height:490px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:490px;
}

.u3 {
    position:absolute;
    left:2px;
    top:237px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:100px;
    top:10px;
    width:800px;
    height:490px
}

.u4 {
    position:absolute;
    left:200px;
    top:530px;
    width:500px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:0px;
    width:462px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:0px;
    width:462px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:0px;
    width:462px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:462px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:151px;
    top:721px;
    width:289px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_container {
    position:absolute;
    left:700px;
    top:570px;
    width:59px;
    height:41px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:41px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:700px;
    top:570px;
    width:59px;
    height:41px
}

.u16_container {
    position:absolute;
    left:20px;
    top:10px;
    width:38px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:30px;
}

.u17 {
    position:absolute;
    left:2px;
    top:7px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:20px;
    top:10px;
    width:38px;
    height:30px
}

.u18_container {
    position:absolute;
    left:100px;
    top:501px;
    width:800px;
    height:22px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:22px;
}

.u19 {
    position:absolute;
    left:2px;
    top:3px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:100px;
    top:501px;
    width:800px;
    height:22px
}

.u20_container {
    position:absolute;
    left:100px;
    top:701px;
    width:800px;
    height:22px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:22px;
}

.u21 {
    position:absolute;
    left:2px;
    top:3px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:100px;
    top:701px;
    width:800px;
    height:22px
}

.u22_container {
    position:absolute;
    left:100px;
    top:748px;
    width:800px;
    height:22px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:22px;
}

.u23 {
    position:absolute;
    left:2px;
    top:3px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:100px;
    top:748px;
    width:800px;
    height:22px
}

.u24_container {
    position:absolute;
    left:330px;
    top:718px;
    width:36px;
    height:33px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:33px;
}

.u25 {
    position:absolute;
    left:2px;
    top:8px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:330px;
    top:718px;
    width:36px;
    height:33px
}

.u27_original {
    background-image: url('../Home_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:280px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:286px;
}

.u28 {
    position:absolute;
    left:2px;
    top:132px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:280px
}

.u29 {
    position:absolute;
    left:20px;
    top:16px;
    width:260px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_original {
    background-image: url('../Home_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:300px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:306px;
}

.u32 {
    position:absolute;
    left:2px;
    top:142px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:300px
}

.u33 {
    position:absolute;
    left:40px;
    top:10px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_container {
    position:absolute;
    left:10px;
    top:40px;
    width:20px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:10px;
    top:40px;
    width:20px;
    height:20px
}

.u36 {
    position:absolute;
    left:40px;
    top:40px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_container {
    position:absolute;
    left:10px;
    top:70px;
    width:20px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:10px;
    top:70px;
    width:20px;
    height:20px
}

.u39 {
    position:absolute;
    left:40px;
    top:70px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_container {
    position:absolute;
    left:10px;
    top:10px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:10px;
    top:10px;
    width:20px;
    height:20px
}

.u42_container {
    position:absolute;
    left:10px;
    top:10px;
    width:20px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:10px;
    top:10px;
    width:20px;
    height:20px
}

.u44 {
    position:absolute;
    left:240px;
    top:840px;
    width:400px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

