<HTML><HEAD>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="imagetoolbar" content="no">
<link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet">
<link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet">
<link href="Home_files/axurerp_pagespecificstyles.css" type="text/css" rel="stylesheet">
<!--[if IE 6]>
<link href="Home_files/axurerp_pagespecificstyles_ie6.css" type="text/css" rel="stylesheet">
<![endif]-->
<SCRIPT src="resources/scripts/jquery-1.4.2.min.js"></SCRIPT>
<SCRIPT src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></SCRIPT>
<SCRIPT src="resources/scripts/axurerp_beforepagescript.js"></SCRIPT>
<SCRIPT src="resources/scripts/messagecenter.js"></SCRIPT>
</HEAD>
<BODY>

<DIV class="main_container">

<DIV id=u0_container class="u0_container">
<DIV id="u0_img" >
<IMG src="Home_files/u0_original.jpg" class="raw_image"></DIV>
</DIV>
<IMG id=u0 src="resources/images/transparent.gif" class="u0"    >

<DIV id=u2_container class="u2_container">
<IMG src="Home_files/u2_original.jpg" class="raw_image">
</DIV>
<DIV id=u4 class="u4" >
  <DIV id=u4_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Какой тип компьютера вы хотите?</span></p></DIV></DIV>
<DIV id=u5container style="position:absolute; left:159px; top:570px; width:531px; height:63px; ; ; ;" >


<LABEL for=u5>
<DIV id=u6 class="u6" >
<DIV id=u6_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"> Я хочу игровой компьютер</span></p>
  <p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Мне нужен компьютер для учёбы</span></p>
  <p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Мне нужен домашний компьютер </span></p>
  <p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Мне нужен компьютер для проетирования дизайна</span></p>
</DIV></DIV>
</LABEL>
</DIV>
<DIV id=u13 class="u13" >
  <DIV id=u13_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"> Найдено 1000 моделей</span></p></DIV></DIV>
<script type="text/javascript">
    var Jsonu14_hover = {"imgsrc":"Home_files\/u14_hover.jpg"};
    var Jsonu14_down = {"imgsrc":"Home_files\/u14_down.jpg"};</script>

<DIV id=u14_container class="u14_container">
<DIV id="u14_img" >
<IMG src="Home_files/u14_original.jpg" class="raw_image"></DIV>
</DIV>
<INPUT type="image" id=u14 src="resources/images/transparent.gif" class="u14" onMouseOver="SetWidgetHover('u14',false);" onMouseOut="SetWidgetNotHover('u14',false);"onmousedown="SetWidgetMouseDown('u14',false);" onMouseUp="SetWidgetNotMouseDown('u14',false);"   >

<script type="text/javascript">
    var Jsonu16_hover = {"imgsrc":"Home_files\/u16_hover.jpg"};
    var Jsonu16_down = {"imgsrc":"Home_files\/u16_down.jpg"};</script>

<DIV id=u16_container class="u16_container">
<DIV id="u16_img" >
<IMG src="Home_files/u16_original.jpg" class="raw_image"></DIV>
</DIV>
<INPUT type="image" id=u16 src="resources/images/transparent.gif" class="u16" onMouseOver="SetWidgetHover('u16',false);" onMouseOut="SetWidgetNotHover('u16',false);"onmousedown="SetWidgetMouseDown('u16',false);" onMouseUp="SetWidgetNotMouseDown('u16',false);"   >

<DIV id=u18_container class="u18_container">
<DIV id="u18_img" >
<IMG src="Home_files/u18_original.jpg" class="raw_image"></DIV>
</DIV>
<IMG id=u18 src="resources/images/transparent.gif" class="u18"    >

<DIV id=u20_container class="u20_container">
<DIV id="u20_img" >
<IMG src="Home_files/u18_original.jpg" class="raw_image"></DIV>
</DIV>
<IMG id=u20 src="resources/images/transparent.gif" class="u20"    >

<DIV id=u22_container class="u22_container">
<DIV id="u22_img" >
<IMG src="Home_files/u18_original.jpg" class="raw_image"></DIV>
</DIV>
<IMG id=u22 src="resources/images/transparent.gif" class="u22"    >

<script type="text/javascript">
    var Jsonu24_hover = {"imgsrc":"Home_files\/u24_hover.jpg"};
    var Jsonu24_down = {"imgsrc":"Home_files\/u24_down.jpg"};</script>

<DIV id=u24_container class="u24_container">
<DIV id="u24_img" >
<IMG src="Home_files/u24_original.jpg" class="raw_image"></DIV>
</DIV>
<INPUT type="image" id=u24 src="resources/images/transparent.gif" class="u24" onMouseOver="SetWidgetHover('u24',false);" onMouseOut="SetWidgetNotHover('u24',false);"onmousedown="SetWidgetMouseDown('u24',false);" onMouseUp="SetWidgetNotMouseDown('u24',false);"   >
</DIV>
</DIV>
</DIV>
<DIV id=u44 class="u44" >
<p style="text-align:center;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#666666;">Developed by Sonik and Pikachu</span></p></DIV></DIV>
<DIV class=preload>
<img src="Home_files/u0_original.jpg" width="1" height="1"/>
<img src="Home_files/u2_original.jpg" width="1" height="1"/>
<img src="Home_files/u14_hover.jpg" width="1" height="1"/>
<img src="Home_files/u14_down.jpg" width="1" height="1"/>
<img src="Home_files/u14_original.jpg" width="1" height="1"/>
<img src="Home_files/u16_hover.jpg" width="1" height="1"/>
<img src="Home_files/u16_down.jpg" width="1" height="1"/>
<img src="Home_files/u16_original.jpg" width="1" height="1"/>
<img src="Home_files/u18_original.jpg" width="1" height="1"/>
<img src="Home_files/u24_hover.jpg" width="1" height="1"/>
<img src="Home_files/u24_down.jpg" width="1" height="1"/>
<img src="Home_files/u24_original.jpg" width="1" height="1"/>
<img src="Home_files/u27_original.png" width="1" height="1"/>
<img src="Home_files/u31_original.png" width="1" height="1"/>
<img src="Home_files/u34_hover.jpg" width="1" height="1"/>
<img src="Home_files/u34_original.jpg" width="1" height="1"/></DIV>
</BODY>
<SCRIPT src="resources/scripts/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Home_files/axurerp_pagespecificscript.js" charset="utf-8"></SCRIPT>