<HTML><HEAD>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="imagetoolbar" content="no">
<link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet">
<link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet">
<link href="New_Page_1_files/axurerp_pagespecificstyles.css" type="text/css" rel="stylesheet">
<!--[if IE 6]>
<link href="New_Page_1_files/axurerp_pagespecificstyles_ie6.css" type="text/css" rel="stylesheet">
<![endif]-->
<SCRIPT src="resources/scripts/jquery-1.4.2.min.js"></SCRIPT>
<SCRIPT src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></SCRIPT>
<SCRIPT src="resources/scripts/axurerp_beforepagescript.js"></SCRIPT>
<SCRIPT src="resources/scripts/messagecenter.js"></SCRIPT>
</HEAD>
<BODY>
<DIV class="main_container">

<DIV id=u0_container class="u0_container">
<DIV id="u0_img" >
<IMG src="New_Page_1_files/u0_original.jpg" class="raw_image"></DIV>
<DIV id=u1 class="u1" >
<DIV id=u1_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u0 src="resources/images/transparent.gif" class="u0"    >

<DIV id=u2_container class="u2_container">
<DIV id="u2_img" >
<IMG src="New_Page_1_files/u2_original.jpg" class="raw_image"></DIV>
<DIV id=u3 class="u3" >
<DIV id=u3_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u2 src="resources/images/transparent.gif" class="u2"    >

<DIV id=u4 class="u4" >
<DIV id=u4_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Какой тип компьютера вы хотите?</span></p></DIV></DIV>
<DIV id=u5container style="position:absolute; left:210px; top:307px; width:480px; height:19px; ; ; ;" >
<LABEL for=u5>
<DIV id=u6 class="u6" >
<DIV id=u6_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"> Я хочу игровой компьютер</span></p></DIV></DIV>
</LABEL>
<INPUT id=u5 name="AnswersGroup" style="position:absolute; left:-3px; top:-1.5px;" type=radio value=radio  >
</DIV>
<DIV id=u7container style="position:absolute; left:210px; top:337px; width:480px; height:19px; ; ; ;" >
<LABEL for=u7>
<DIV id=u8 class="u8" >
<DIV id=u8_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"> Мне нужен компьютер для учёбы</span></p></DIV></DIV>
</LABEL>
<INPUT id=u7 name="AnswersGroup" style="position:absolute; left:-3px; top:-1.5px;" type=radio value=radio  >
</DIV>
<DIV id=u9container style="position:absolute; left:210px; top:367px; width:480px; height:19px; ; ; ;" >
<LABEL for=u9>
<DIV id=u10 class="u10" >
<DIV id=u10_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"> Мне нужен домашний компьютер </span></p></DIV></DIV>
</LABEL>
<INPUT id=u9 name="AnswersGroup" style="position:absolute; left:-3px; top:-1.5px;" type=radio value=radio  >
</DIV>
<DIV id=u11container style="position:absolute; left:210px; top:397px; width:480px; height:19px; ; ; ;" >
<LABEL for=u11>
<DIV id=u12 class="u12" >
<DIV id=u12_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"> Мне нужен компьютер для проетирования дизайна</span></p></DIV></DIV>
</LABEL>
<INPUT id=u11 name="AnswersGroup" style="position:absolute; left:-3px; top:-1.5px;" type=radio value=radio  >
</DIV>
<DIV id=u13 class="u13" >
<DIV id=u13_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"> Найдено 1000 моделей</span></p></DIV></DIV>
<DIV id=u14 class="u14;">

<DIV id=u14_table class="u14_table"></DIV>

</DIV>

<DIV id=u14container style="position:absolute; left:100px; top:510px; width:805px; height:320px; overflow:visible">

<DIV id=u15_container class="u15_container">
<DIV id=u16 class="u16" >
<DIV id=u16_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u15 src="resources/images/transparent.gif" class="u15"    >

<DIV id=u17_container class="u17_container">
<DIV id=u18 class="u18" >
<DIV id=u18_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u17 src="resources/images/transparent.gif" class="u17"    >

<DIV id=u19_container class="u19_container">
<DIV id=u20 class="u20" >
<DIV id=u20_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u19 src="resources/images/transparent.gif" class="u19"    >

<DIV id=u21_container class="u21_container">
<DIV id=u22 class="u22" >
<DIV id=u22_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u21 src="resources/images/transparent.gif" class="u21"    >

<DIV id=u23_container class="u23_container">
<DIV id=u24 class="u24" >
<DIV id=u24_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u23 src="resources/images/transparent.gif" class="u23"    >

<DIV id=u25_container class="u25_container">
<DIV id=u26 class="u26" >
<DIV id=u26_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u25 src="resources/images/transparent.gif" class="u25"    >

<DIV id=u27_container class="u27_container">
<DIV id=u28 class="u28" >
<DIV id=u28_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u27 src="resources/images/transparent.gif" class="u27"    >

<DIV id=u29_container class="u29_container">
<DIV id=u30 class="u30" >
<DIV id=u30_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u29 src="resources/images/transparent.gif" class="u29"    >

<DIV id=u31_container class="u31_container">
<DIV id=u32 class="u32" >
<DIV id=u32_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u31 src="resources/images/transparent.gif" class="u31"    >

<DIV id=u33_container class="u33_container">
<DIV id=u34 class="u34" >
<DIV id=u34_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u33 src="resources/images/transparent.gif" class="u33"    >

<DIV id=u35_container class="u35_container">
<DIV id=u36 class="u36" >
<DIV id=u36_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u35 src="resources/images/transparent.gif" class="u35"    >

<DIV id=u37_container class="u37_container">
<DIV id=u38 class="u38" >
<DIV id=u38_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u37 src="resources/images/transparent.gif" class="u37"    >

<DIV id=u39_container class="u39_container">
<DIV id=u40 class="u40" >
<DIV id=u40_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u39 src="resources/images/transparent.gif" class="u39"    >

<DIV id=u41_container class="u41_container">
<DIV id=u42 class="u42" >
<DIV id=u42_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u41 src="resources/images/transparent.gif" class="u41"    >

<DIV id=u43_container class="u43_container">
<DIV id=u44 class="u44" >
<DIV id=u44_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u43 src="resources/images/transparent.gif" class="u43"    >

<DIV id=u45_container class="u45_container">
<DIV id=u46 class="u46" >
<DIV id=u46_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u45 src="resources/images/transparent.gif" class="u45"    >

<DIV id=u47_container class="u47_container">
<DIV id=u48 class="u48" >
<DIV id=u48_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u47 src="resources/images/transparent.gif" class="u47"    >

<DIV id=u49_container class="u49_container">
<DIV id=u50 class="u50" >
<DIV id=u50_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u49 src="resources/images/transparent.gif" class="u49"    >

<DIV id=u51_container class="u51_container">
<DIV id=u52 class="u52" >
<DIV id=u52_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u51 src="resources/images/transparent.gif" class="u51"    >

<DIV id=u53_container class="u53_container">
<DIV id=u54 class="u54" >
<DIV id=u54_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u53 src="resources/images/transparent.gif" class="u53"    >

<DIV id=u55_container class="u55_container">
<DIV id=u56 class="u56" >
<DIV id=u56_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u55 src="resources/images/transparent.gif" class="u55"    >

<DIV id=u57_container class="u57_container">
<DIV id=u58 class="u58" >
<DIV id=u58_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u57 src="resources/images/transparent.gif" class="u57"    >

<DIV id=u59_container class="u59_container">
<DIV id=u60 class="u60" >
<DIV id=u60_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u59 src="resources/images/transparent.gif" class="u59"    >

<DIV id=u61_container class="u61_container">
<DIV id=u62 class="u62" >
<DIV id=u62_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u61 src="resources/images/transparent.gif" class="u61"    >

<DIV id=u63_container class="u63_container">
<DIV id=u64 class="u64" >
<DIV id=u64_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u63 src="resources/images/transparent.gif" class="u63"    >

<DIV id=u65_container class="u65_container">
<DIV id=u66 class="u66" >
<DIV id=u66_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u65 src="resources/images/transparent.gif" class="u65"    >

<DIV id=u67_container class="u67_container">
<DIV id=u68 class="u68" >
<DIV id=u68_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u67 src="resources/images/transparent.gif" class="u67"    >

<DIV id=u69_container class="u69_container">
<DIV id=u70 class="u70" >
<DIV id=u70_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u69 src="resources/images/transparent.gif" class="u69"    >

<DIV id=u71_container class="u71_container">
<DIV id=u72 class="u72" >
<DIV id=u72_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u71 src="resources/images/transparent.gif" class="u71"    >

<DIV id=u73_container class="u73_container">
<DIV id=u74 class="u74" >
<DIV id=u74_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u73 src="resources/images/transparent.gif" class="u73"    >

</DIV>
<script type="text/javascript">
    var Jsonu75_hover = {"imgsrc":"New_Page_1_files\/u75_hover.jpg"};
    var Jsonu75_down = {"imgsrc":"New_Page_1_files\/u75_down.jpg"};</script>

<DIV id=u75_container class="u75_container">
<DIV id="u75_img" >
<IMG src="New_Page_1_files/u75_original.jpg" class="raw_image"></DIV>
<DIV id=u76 class="u76" >
<DIV id=u76_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u75 src="resources/images/transparent.gif" class="u75" onmouseover="SetWidgetHover('u75',false);" onmouseout="SetWidgetNotHover('u75',false);"onmousedown="SetWidgetMouseDown('u75',false);" onmouseup="SetWidgetNotMouseDown('u75',false);"   >

<script type="text/javascript">
    var Jsonu77_hover = {"imgsrc":"New_Page_1_files\/u77_hover.jpg"};
    var Jsonu77_down = {"imgsrc":"New_Page_1_files\/u77_down.jpg"};</script>

<DIV id=u77_container class="u77_container">
<DIV id="u77_img" >
<IMG src="New_Page_1_files/u77_original.jpg" class="raw_image"></DIV>
<DIV id=u78 class="u78" >
<DIV id=u78_rtf>&nbsp;</DIV></DIV>
</DIV>
<INPUT type="image" id=u77 src="resources/images/transparent.gif" class="u77" onmouseover="SetWidgetHover('u77',false);" onmouseout="SetWidgetNotHover('u77',false);"onmousedown="SetWidgetMouseDown('u77',false);" onmouseup="SetWidgetNotMouseDown('u77',false);"   >

<DIV id=u79_container class="u79_container">
<DIV id="u79_img" >
<IMG src="New_Page_1_files/u79_original.jpg" class="raw_image"></DIV>
<DIV id=u80 class="u80" >
<DIV id=u80_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u79 src="resources/images/transparent.gif" class="u79"    >

<DIV id=u81_container class="u81_container">
<DIV id="u81_img" >
<IMG src="New_Page_1_files/u79_original.jpg" class="raw_image"></DIV>
<DIV id=u82 class="u82" >
<DIV id=u82_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u81 src="resources/images/transparent.gif" class="u81"    >

<DIV id=u83_container class="u83_container">
<DIV id="u83_img" >
<IMG src="New_Page_1_files/u79_original.jpg" class="raw_image"></DIV>
<DIV id=u84 class="u84" >
<DIV id=u84_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u83 src="resources/images/transparent.gif" class="u83"    >

<script type="text/javascript">
    var Jsonu85_hover = {"imgsrc":"New_Page_1_files\/u85_hover.jpg"};
    var Jsonu85_down = {"imgsrc":"New_Page_1_files\/u85_down.jpg"};</script>

<DIV id=u85_container class="u85_container">
<DIV id="u85_img" >
<IMG src="New_Page_1_files/u85_original.jpg" class="raw_image"></DIV>
<DIV id=u86 class="u86" >
<DIV id=u86_rtf>&nbsp;</DIV></DIV>
</DIV>
<INPUT type="image" id=u85 src="resources/images/transparent.gif" class="u85" onmouseover="SetWidgetHover('u85',false);" onmouseout="SetWidgetNotHover('u85',false);"onmousedown="SetWidgetMouseDown('u85',false);" onmouseup="SetWidgetNotMouseDown('u85',false);"   >

<DIV id=u87 style="visibility:hidden; position:absolute; left:50px; top:30px; width:291px; height:281px;; overflow:hidden; ">
<DIV id=pd0u87 style="position:absolute; left:0px; top:0px; width:1px; height:1px; ;">
<DIV id=u88_container class="u88_container">
<DIV id="u88_img" class="u88_original"></DIV>
<DIV id=u89 class="u89" >
<DIV id=u89_rtf>&nbsp;</DIV></DIV>
</DIV>
<INPUT type="image" id=u88 src="resources/images/transparent.gif" class="u88"    >

<DIV id=u90 class="u90" >
<DIV id=u90_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">&nbsp; Краткая справка как пользоваться нашей чудо мегаинтелектуальной системой</span></p></DIV></DIV>
</DIV>
</DIV>
<DIV id=u91 style="visibility:hidden; position:absolute; left:380px; top:218px; width:251px; height:301px;; overflow:hidden; ">
<DIV id=pd0u91 style="position:absolute; left:0px; top:0px; width:1px; height:1px; ;">
<DIV id=u92_container class="u92_container">
<DIV id="u92_img" class="u92_original"></DIV>
<DIV id=u93 class="u93" >
<DIV id=u93_rtf>&nbsp;</DIV></DIV>
</DIV>
<INPUT type="image" id=u92 src="resources/images/transparent.gif" class="u92"    >

<script type="text/javascript">
    var Jsonu94_hover = {"imgsrc":"New_Page_1_files\/u94_hover.jpg"};</script>

<DIV id=u94_container class="u94_container">
<DIV id="u94_img" >
<IMG src="New_Page_1_files/u94_original.jpg" class="raw_image"></DIV>
<DIV id=u95 class="u95" >
<DIV id=u95_rtf>&nbsp;</DIV></DIV>
</DIV>
<INPUT type="image" id=u94 src="resources/images/transparent.gif" class="u94" onmouseover="SetWidgetHover('u94',false);" onmouseout="SetWidgetNotHover('u94',false);"   >

<DIV id=u96 class="u96" >
<DIV id=u96_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">комппьютеры</span></p></DIV></DIV>
<script type="text/javascript">
    var Jsonu97_hover = {"imgsrc":"New_Page_1_files\/u94_hover.jpg"};</script>

<DIV id=u97_container class="u97_container">
<DIV id="u97_img" >
<IMG src="New_Page_1_files/u94_original.jpg" class="raw_image"></DIV>
<DIV id=u98 class="u98" >
<DIV id=u98_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u97 src="resources/images/transparent.gif" class="u97" onmouseover="SetWidgetHover('u97',false);" onmouseout="SetWidgetNotHover('u97',false);"   >

<DIV id=u99 class="u99" >
<DIV id=u99_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">для игр</span></p></DIV></DIV>
<script type="text/javascript">
    var Jsonu100_hover = {"imgsrc":"New_Page_1_files\/u94_hover.jpg"};</script>

<DIV id=u100_container class="u100_container">
<DIV id="u100_img" >
<IMG src="New_Page_1_files/u94_original.jpg" class="raw_image"></DIV>
<DIV id=u101 class="u101" >
<DIV id=u101_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u100 src="resources/images/transparent.gif" class="u100" onmouseover="SetWidgetHover('u100',false);" onmouseout="SetWidgetNotHover('u100',false);"   >

<DIV id=u102 class="u102" >
<DIV id=u102_rtf><p style="text-align:left;"><span style="font-family:Calibri;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">BluRay</span></p></DIV></DIV>
</DIV>
</DIV>
<DIV id=u103 class="u103" >
<DIV id=u103_rtf><p style="text-align:center;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#666666;">Developed by Sonik and Pikachu</span></p><p style="text-align:center;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#666666;">&nbsp;</span></p></DIV></DIV>
<DIV id=u104_container class="u104_container">
<DIV id="u104_img" class="u104_original"></DIV>
<DIV id=u105 class="u105" >
<DIV id=u105_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u104 src="resources/images/transparent.gif" class="u104"    >

<DIV id=u106 class="u106" >
<DIV id=u106_rtf><p style="text-align:left;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">enter text...</span></p></DIV></DIV>
<DIV id=u107 class="u107" >
<DIV id=u107_rtf><p style="text-align:left;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">enter text...</span></p></DIV></DIV>
<DIV id=u108c0 class="u108c0"></DIV>

<DIV id=u108c1 class="u108c1"></DIV>

<DIV id=u108container style="position:absolute; left:0px; top:0px; width:1px; height:1px;; overflow:visible">

<DIV id=u109 class="u109" >
<DIV id=u109_rtf>&nbsp;</DIV></DIV>
</DIV></DIV>
<DIV class=preload>
<img src="New_Page_1_files/u0_original.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u2_original.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u14_table.png" width="1" height="1"/>
<img src="New_Page_1_files/u15_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u17_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u19_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u21_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u23_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u25_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u75_hover.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u75_down.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u75_original.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u77_hover.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u77_down.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u77_original.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u79_original.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u85_hover.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u85_down.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u85_original.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u88_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u92_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u94_hover.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u94_original.jpg" width="1" height="1"/>
<img src="New_Page_1_files/u104_original.png" width="1" height="1"/>
<img src="New_Page_1_files/u108c0.png" width="1" height="1"/>
<img src="New_Page_1_files/u108c1.png" width="1" height="1"/></DIV>
</BODY>
<SCRIPT src="resources/scripts/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="New_Page_1_files/axurerp_pagespecificscript.js" charset="utf-8"></SCRIPT>