/* CSS Document */
@import url("reset.css");
html {
	width:100%;
	height: 100%
}
body {
	height: 100%;
	background:url(img/bg.jpg);
}
#wrapper {
	min-height:100%;
	position:relative;
	margin:0 auto;
	width:800px;
	font-family: Myriad Pro Light, Myriad Pro, Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height: 1.2;
}
#content {
	padding-bottom:10px;
	float:left;
	background:#fff;
}
#menu ul {
	text-align: center;
	background:#fff;
}
#menu ul li {
	display: inline;
	padding: 0px 15px;
}
#menu ul li a {
	text-decoration: none;
}
#question {
	background:#fff;
}
#answerList {
	float:left;
	background:#fff;
	width: 100%;
}
.answer {
	margin: 10px 0px;
	display:inline;
	float:left;
	width: 99%;
	padding: 10px 0px;
	border: 3px solid #ECF2F5;
	border-radius:10px;
	-moz-border-radius:10px; /* Firefox 3.6 and earlier */
}
.image {
	float:left;
	padding: 2px;
	text-align: center;
	width:20%;
}
.descriptionSection {
	float:left;
}
.title {
	display:block;
	float:left;
}
.name {
	padding: 10px 5px 10px;
	float:left;
	color:#3399CC;
}
.description {
	clear:left;
	float:left;
	padding: 5px;
	color:#145571;
}
.description li {
	float:left;
	clear: left; /* Отменяем действие float */
}
.paramName {
	float:left;
}
.paramValue {
	float:left;
	padding: 0px 5px;
}
.answerButtons {
	float:right;
	width:20%;
	text-align: center;
}
.answerButtons {
	background:inherit;
}
.answerButtons li {
	padding-top: 30px;
}
#footer {
	width:100%;
	/*position: absolute;*/
	/*bottom: 10px;*/
	padding-top: 20px;
	text-align: center;
	font-style:italic;
	font-size:13px;
	color:#666;
	float:left;
}
.classification {
	float:left;
	left: 10px;
	top: 5px;
	position: relative;
	width: 114px;
	height: 22px;
}
.classification .cover {
	position: absolute;
	background: transparent url(img/stars.jpg) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 114px;
	height: 22px;
	z-index: 101;
}
.classification .progress {
	position: absolute;
	background: transparent url(img/stars_full.jpg) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 22px;
	z-index: 102;
}
.paramStars {
	float:left;
	position: relative;
	width: 83px;
	height: 16px
}
.paramStars .cover {
	position: absolute;
	background: transparent url(img/small_stars.jpg) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 83px;
	height: 16px;
	z-index: 101;
}
.paramStars .progress {
	position: absolute;
	background: transparent url(img/small_stars_full.jpg) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 16px;
	z-index: 102;
}
#pagination {
	width:100%;
	float:left;
	margin-left: 10px;
}
#pagination li {
	display:inline;
	padding: 0px 5px;
}
#pagination li a {
	text-decoration:none;
	color:#3399CC;
}
#pagination li a:hover {
	text-decoration:none;
	color:#4CE126;
}
#pagination .select {
	text-decoration:none;
	color:#145571;
}
