body {
    margin: 0px;
    background-image: url('bg.jpg');
    background-position: left top;
    background-repeat: repeat;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:100px;
    top:610px;
    width:800px;
    height:300px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:300px;
}

.u1 {
    position:absolute;
    left:2px;
    top:142px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:100px;
    top:610px;
    width:800px;
    height:300px
}

.u2_container {
    position:absolute;
    left:100px;
    top:310px;
    width:800px;
    height:300px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:300px;
}

.u3 {
    position:absolute;
    left:2px;
    top:142px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:100px;
    top:310px;
    width:800px;
    height:300px
}

.u4_container {
    position:absolute;
    left:100px;
    top:10px;
    width:800px;
    height:300px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:300px;
}

.u5 {
    position:absolute;
    left:2px;
    top:142px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:100px;
    top:10px;
    width:800px;
    height:300px
}

.u6_original {
    background-image: url('../DeviceInfo_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:100px;
    top:51px;
    width:167px;
    height:250px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:250px;
}

.u7 {
    position:absolute;
    left:2px;
    top:117px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:100px;
    top:51px;
    width:167px;
    height:250px
}

.u8 {
    position:absolute;
    left:290px;
    top:55px;
    width:400px;
    height:779px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_text {
    position:absolute;
    left:700px;
    top:54px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:700px;
    top:54px;
    width:100px;
    height:16px
}

.u11_original {
    background-image: url('../DeviceInfo_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:290px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:296px;
}

.u12 {
    position:absolute;
    left:2px;
    top:137px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:290px
}

.u13 {
    position:absolute;
    left:200px;
    top:50px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:100px;
    top:50px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:20px;
    top:10px;
    width:270px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:200px;
    top:114px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:100px;
    top:114px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:20px;
    top:74px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:200px;
    top:184px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:100px;
    top:184px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:20px;
    top:144px;
    width:270px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

